*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        to right,
        white 61%,
        #d6bda6 45%        
    );
    overflow: hidden; /* Hide scrollbars */
}
 
header {
    background-color: transparent;
    padding: 3em 0;
}

a {
    text-decoration: none;
    color: #000;
    
}

a:hover {
    text-decoration: underline 0.2em solid black;
    
}


ul {
    display: flex;
    list-style: none;
    padding-right: 5em;
}

li {
    padding-right: 7em;
}

/* header total */

.totalheader {
    display: flex;
    background-color: transparent;
    position: fixed;
}



/* notificacion del boton shop */

.shop2 .notif {
  position: absolute;
  top: 0.8rem;
  right: 1.5rem;
  padding: 0.45em 0.65em;
  border-radius: 50%;
  border: 0.1em solid black;
  background: white;
  color: black;
  width: 0.1em;
  height: 0.5em;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 0.5em;
}

/* menu izquierdo */

.menuUno {
    align-items: center;
    color: #000;
    display: flex;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 0.9375rem;
    list-style: none;
    font-weight: bold;

    color: black;
}

/* menu derecho */

.menuDos {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 15em;
   
    
}

.menu2:hover {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* logo */

.logo{
    justify-content: flex-start;
    font-size: 39px;
    margin-left: 40px;
    font-weight: 900;
    letter-spacing: -4px;
    padding-right: 3em;

}

.logo:hover{
    font-size: 39px;
    margin-left: 40px;
    font-weight: 900;
    letter-spacing: -4px;
    text-decoration: underline;
    cursor: pointer;

    

}

/* boton lupa */

.lupa {
    color: black;
    text-decoration: none;
    padding: 0.938rem 1.625rem;
    position: relative;

}


/* boton lupa */

.iconlupa{
    height: 25px;
}

/* boton lupa */

.iconlupa:hover{
    height: 25px;
    filter: drop-shadow(0.1em 0.1em 0.3em #222);
}

/* boton shop */

.shop2 {
  color: black;
  text-decoration: none;
  padding: 0.9375rem 1.625rem;
  position: relative;
  display: inline-block;

}


/* boton shop */

.shop{
    height: 25px;
}

/* boton shop */

.shop:hover{
    height: 25px;
    filter: drop-shadow(0.1em 0.1em 0.3em #222);
}

/* linea */

.line{
    border-right: 0.09375rem solid #a08d7c;
    height: 1.7em;
    padding-left: 0.5em;
    padding-right: 1.5em;
}

/* boton sign up */

.sing-up{
    background-color: transparent;
    text-decoration: none;
    color: black;
    border: 0.2em solid black;
    padding-left: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    text-align: center;
    cursor: pointer;
}


.sing-up:hover{
    text-decoration: none;
    background-color: #000;
    color: white;
    border: 0.2em solid black;
    padding-left: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    text-align: center;
    cursor: pointer;
}

/* boton sign in */

.sing-in {
    text-decoration: none;
    color: black;
    padding-left: 2.5rem;
    padding-right: 2rem;
    padding-top: 0.1875rem;
    padding-bottom: 0.1875rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    text-align: center; 
}

.sing-in:hover {
    text-decoration: none;
    color: black;
    padding-left: 2.5rem;
    padding-right: 2rem;
    padding-top: 0.1875rem;
    padding-bottom: 0.1875rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    text-align: center; 
    text-decoration: underline 0.2em solid black;
     
}

/* contenedor */

.container{
    background-color:   transparent;
    margin-top:22em;
    width: 58%;
    height: 40%;
    display:flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
}

/* texto grande */

.title{
    padding-top: 1em;
    margin-left: 0.5em;
    font-size: 130px;
    line-height: 0.1em;
    letter-spacing: -1px;   
}



/* texto */

.text{
    margin-left: 4em;
    width: 420px;
    margin-bottom: 120px;
    font-family: 1em;
    color: grey;
}



/* modelo */

.model{
    position: absolute;
    margin-left: 39%;
    margin-bottom: -10%;
    width: 60em;
    z-index: -1;
}


/* barra de la derecha */

.sideFloat{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 350px;
    margin-right: 5rem;
}

/* caja uno */

.sideA{
    border-right: 0.5em solid black; 
    font-size: 0.6em;
    width: 1.5em;
    padding-top:2.7em;
    padding-bottom: 2.7em;
}

/* caja dos */

.sideB{
    border-right:0.5em solid #a08d7c;
    padding-top: 3.4em;
    padding-bottom: 4.6em;
    font-size: 0.6em;
    width: 1.5em;
}

/* caja tres */

.sideC{
    border-right:0.5em solid #b39f8d;
    padding-top: 4.6em;
    padding-bottom: 5.8em;
    font-size: 0.6em;
    width: 1.5em;
}



/* boton Shop now prueba */


  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;

    background-color: white;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;

    background-color: red;
  }
  
  .button:hover span {
    background-color: black;
    color: white;
    width: 96px;
    right: 0px;
  }

  .button:hover  {
    background-color: black;
 
  }
  
  .button:hover span:after {
    opacity: 1;
    color: white;
    background-color: #000;
    
  }



.button{
    text-decoration: none;
    text-align: center;
    color: black;
    margin-left: 4.5em;
    margin-bottom: 10em;
    margin-top:10em;
    border: 2px solid black;
    padding-left:32px;
    width: 96px;
    padding-right: 35px;
    padding-top: 0.875rem;
    padding-bottom: 0.9375rem;
    font-size: 0.9375rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.09375rem;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

